body {
	font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 3rem;
	color: rgba(0, 0, 0, 0.7);
	font-size: 110%;
	box-sizing: border-box;
	line-height: 1.5;
}

/* ::first-line  */

/* ::first-letter  */

/* ::before  */

/* ::after  */
